<div>
  <nav class="bg-blue-500 w-100% flex justify-center" >
    <a class="hover:bg-blue-600 rounded-3xl p-4" routerLink="/home" routerLinkActive="active"> Home </a>
    <a class="hover:bg-blue-600 rounded-3xl p-4" routerLink="/about" routerLinkActive="active"> About Us</a>
    <a class="hover:bg-blue-600 rounded-3xl p-4" routerLink="/contact" routerLinkActive="active"> Contact</a>
    <input type="text" name="Search"  placeholder="Search" id="" class="bg-white rounded-4xl p-2 border-2 border-gray-700 focus:border-pink-600 ">
    <a class="hover:bg-blue-600 rounded-3xl p-4" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="hover:bg-blue-600 rounded-3xl p-4" href="">Logout</a>
  </nav>
</div>

<router-outlet> </router-outlet>