.login-container {
  padding: 20px;
  text-align: center;
  background-color: transparent; /* Removes background */
  border-radius: 0; /* Removes rounded corners */
  box-shadow: none; /* Removes shadow */
  margin: 20px 0;
}

.login-container h1 {
  color: #333149; /* Matches Navbar */
  font-size: 36px;
  font-weight: bold;
}

.login-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #A192B0; /* Softer border matching theme */
  border-radius: 5px;
  margin: 10px;
  color: #333149;
  background-color: #F4F2F8; /* Light background for input fields */
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #5B4966; /* Darker shade for contrast */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #453454; /* Slightly darker on hover */
}
