<nav class="navbar">
  <h1>Welcome to My Angular App</h1>
  <div class="menu-icon" (click)="toggleMenu()">☰</div>
  <ul [class.show]="isMenuOpen">
  
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="search">Search</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="login">Login</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="logout()">Logout</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>