<nav>
        <div class="nav-left">
            <a routerLink="home">Home</a>
            <a routerLink="about" RouterLinkActive="Active">About</a>
            <a routerLink="contact" RouterLinkActive="Active">Contact</a>
        </div>
        <div class="nav-right">
            <input type="text" id="searchInput" placeholder="Search..." />
            <button onclick="search()">🔍</button>
            <a routerLink="login" RouterLinkActive="Active">Login</a>
            <button class="menu-btn" onclick="toggleMenu()">☰</button>
        </div>
        <div class="mobile-menu" id="mobileMenu">
            <a routerLink="'home'"RouterLinkActive="Active">Home</a>
            <a routerLink="'about'"RouterLinkActive="Active">About</a>
            <a routerLink="'contact'"RouterLinkActive="Active">Contact</a>
            <a routerLink="login" RouterLinkActive="Active">Login</a>
        </div>
    </nav>
  
<router-outlet></router-outlet>