.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  font-size: 2.5rem;
}
button {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

p {
  color: #555;
  font-size: 1.2rem;
}
