<main>
  <nav class="bg-blue-400 flex flex-row px-4 py-4 justify-end">
    <a routerLink="/" class="hover:bg-yellow-300 rounded-4xl px-4 py-4">
      Home
    </a>
    <a routerLink="about-us" href="" class="hover:bg-yellow-300 rounded-4xl px-4 py-4">
      About Us
    </a>
    <a routerLink="/contact-us" class="hover:bg-yellow-300 rounded-4xl px-4 py-4 ml-"> 
      Contact
    </a>
    <input class="bg-white rounded-4xl"  type="search" placeholder="Enter search">
    <a routerLink="/login" class="px-4 py-4 hover:bg-yellow-300 rounded-4xl">Login</a>
    <a routerLink="/logout" class="px-4 py-4 hover:bg-yellow-300 rounded-4xl">Logout</a>
  </nav>
</main>

<router-outlet></router-outlet>