.search-container {
  padding: 20px;
  text-align: center;
  background-color: transparent; /* Removes the background */
  border-radius: 0; /* Removes rounded corners */
  box-shadow: none; /* Removes the shadow */
  margin: 20px 0; /* Adjust margin if needed */
}

.search-container h1 {
  color: #333149; /* Keep heading color */
  font-size: 36px;
  font-weight: bold;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #A89FBF; /* Softer Border */
  border-radius: 5px;
  margin-right: 10px;
  color: #333149;
  background-color: #F4F2F8;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #5A496E;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #6B5A83;
}
