<nav class="navbar">
    <div class="logo">BizzOps</div>
    <ul class="nav-links">
      <li><a [routerLink]="'/dashboard'" routerLinkActive="active">Dashboard</a></li>
      <li><a [routerLink]="'/inventory'" routerLinkActive="active">Inventory</a></li>
      <li><a [routerLink]="'/invoice'" routerLinkActive="active">Invoice</a></li>
      <li><a [routerLink]="'/sales'" routerLinkActive="active">Sales</a></li>
      <li><a [routerLink]="'/expenses'" routerLinkActive="active">Expenses</a></li>
      <li><a [routerLink]="'/payments'" routerLinkActive="active">Payments</a></li>
      <li><a [routerLink]="'/orders'" routerLinkActive="active">Orders</a></li>
      <li><a [routerLink]="'/report'" routerLinkActive="active">Report</a></li>
      <li><a [routerLink]="'/notes'" routerLinkActive="active">Notes</a></li>
      <li><input type="text" placeholder="Search" class="search"></li>
    </ul>
  </nav>